**/C#/MVP/TextEditor/bin/
**/C#/MVP/TextEditor/obj/
**/C#/MVP/TextEditor/obj/Debug/
**/C#/MVP/TextEditor/.vs
**/C#/MVP/TextEditor.BL/bin/
**/C#/MVP/TextEditor.BL/obj/
**/C#/MVP/TextEditor.BL/obj/Debug
**/C#/MVP/TextEditor.BL/.vs